 <div class="container  ">
  <h2 class="text-center mt-5">contact us</h2>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore magni quas laudantium veritatis pariatur! Consequatur.</p>
  <form class="border border-1 p-2 mt-5 mb-5">
    <!-- Name input -->
    <div class="form-outline mb-4">
      <input type="text" id="form4Example1" class="form-control" />
      <label class="form-label" for="form4Example1">Name</label>
    </div>

    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="form4Example2" class="form-control" />
      <label class="form-label" for="form4Example2">Email address</label>
    </div>

    <!-- Message input -->
    <div class="form-outline mb-4">
      <textarea class="form-control" id="form4Example3" rows="4"></textarea>
      <label class="form-label" for="form4Example3">Message</label>
    </div>

    <!-- Checkbox -->
    <div class="form-check d-flex justify-content-center mb-4">
      <input class="form-check-input me-2" type="checkbox" value="" id="form4Example4" checked />
      <label class="form-check-label" for="form4Example4">
        Send me a copy of this message
      </label>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
  </form>
  <p class="mb-5 mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. A, possimus! Iusto nihil aperiam fugiat quaerat nam suscipit odit dolore molestias, vitae pariatur accusamus ipsa. Blanditiis, veniam eaque. Nulla, natus neque.</p>

</div>

