<div class="p-1 bg-light text-dark rounded-0 text-light d-md-block d-none"><h6 class="p-2"><i class="fas fa-book"></i> Category</h6></div>
<div class="list-group list-group-light d-md-block d-none">
  <a
    href="#"
    class="list-group-item list-group-item-action px-3 border-0 rounded-0"
    aria-current="true"
    >Home</a
  >
  <a
    href="#"
    class="list-group-item list-group-item-action px-3 border-0 rounded-0"
    >Electronics</a
  >
  <a
    href="#"
    class="list-group-item list-group-item-action px-3 border-0 rounded-0"
    >Men's Fashion</a
  >
  <a
    href="#"
    class="list-group-item list-group-item-action px-3 border-0 rounded-0"
    >Women's Fashion</a
  >
  <a
    class="list-group-item list-group-item-action px-3 border-0 rounded-0"
    >Jewelry</a
  >
  <button
    class="btn btn-primary list-group-item list-group-item-action px-3 border-0 rounded-0" routerLink="/product-form"
    >New Product</button
  >
</div>
