<header>

  <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('https://mdbootstrap.com/img/new/slides/041.webp');
      height: 400px;
    "
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Drag Store</h1>
          <h4 class="mb-3">E-Commerce Website</h4>
          <a class="btn btn-outline-light btn-lg" routerLink="/products" role="button"
            >Start Shopping</a
          >
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container mt-5 mb-5">
  <div class="row d-flex justify-content-center">
    <div class="mx-3 mb-3" style="width: 18rem;">
      <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Fastest Shipping</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, eaque!</p>
          <a href="#" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
    <div class="mx-3 mb-3" style="width: 18rem;">
      <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Weekly Sale</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, molestias?</p>
          <a href="#" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
    <div class="mx-3 mb-3" style="width: 18rem;">
      <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Return & Replace Policy</h5>
          <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex, optio?</p>
          <a href="#" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
  </div>
</div>
